body {
	background-color: #f2efef !important;
}

#header{
	background-color: #232B2B;
	height: 110px;
}

#barrapesquisa {	
	margin-top:40px;	
}

#carrinho{
	margin-top:30px;	
}

#icone{
	margin-top:31px;
	float:left;
}

#texto{
	margin-top:35px;
	margin-left: 50px;
	color: #fff;
	text-decoration: none;
}

#texto > a {
	color: #fff;
}


#textoredes{
width:11%;
margin-top:25px;
float:left;

}

/* Footer */
.footer {
	margin-top: 50px;
    padding: 5rem 0;
    background: #000;
}

.footer .headline {
    color: #375E98;
    text-transform: uppercase;
}

.footer .description {
    color: #898989;
}

.footer .text {
    font-size: 1.5rem;
    color: #555555;
}

.footer form {
   margin: 4rem 0; 
}

.footer .btn-warning {
    background-color: #fcdb00;    
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1rem;
    color: #000;
}

.footer .btn-warning:hover {
    cursor: pointer;
}

.footer .nav {
    margin-top: 5rem;
    padding: 0 1.7rem;
}

.footer .nav-link {
    color: #fff;
    padding: 0;
    font-weight: 300;
}

.nav-link:hover {
	color: #375E98;
	background-color: #000 !important;
}





