body{
height:1264px;
width:100%;

}

#header{
    position:fixed;
	top:0;
	left:0;
	height:120px;
	width:100%;
	background-color:#91bbff;
}

#logo{
	width:15%;
	height:100%;
	float:left;
	padding-left:4%;
}

#barrapesquisa{
	width:55%;
	float:left;
	height:auto;
	margin-top:40px;
	
}

.form-group{
	margin-bottom:0px !important;	
}

#minhaconta{
	width:25%;
	height:100%;
	float:left;
	text-align:center;
}

#carrinho{
	width:5%;
	height:100%;
	float:left;
	margin-top:30px;
	
}

#icone{
	margin-top:40px;
	height:auto;
	width:45%;
	float:left;
	
}

#texto{
	margin-top:35px;
	height:auto;
	width:auto;
	float:left;
	text-align:left;
}





